


/* These are my styles */
.headertop {
  background-color: #2A2A2A;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 50%);
    height: 84px
}

 nav.navtop{
 padding: 7px 15px;
 border-radius: 2px;
 display: inline-block;
 text-transform: uppercase;
 }

 nav.navtop ul.ulourservice{
   padding: 7px 15px;
 }

nav ul li#ContactUs a{
   color: #FDB530;
 }

  /* li.ContactUs{
    color: inherit;
  } */

nav.navtop li a{
  color: #d4d4d4;
}

 nav.navtop li {
   display: inline-block;
    padding: 7px 15px;
    font-weight: 600;
 }

 /*this is the code segment to hide underline*/
  a:link {
    text-decoration: none;
   }
 /*code segment ends here*/


section.headerourservices {
  background-image: url(https://www.optimal-partners.com/site_images/ourServicesHeader.jpg);
  background-position: center;
}

 /* .Ourservices{
  background-color: #107698;
  color: white;
} */

.headerourservices{
  width: 100%;
  text-align: center;
  padding: 72px 0;
}

.headerourservices h1{
  font-size: 48px;
  color: #fff;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
 .headertop{
   display: flex;
   text-transform: uppercase;
   font-size: 12px;
   align-items: center;
   justify-content: center;
 }





/* ul.ulourservice {
background-color: #2A2A2A;
} */
li.ourservicesblue{
  background-color: #107698;
  padding: 7px 15px 6px;
  border-radius: 2px;

}


body{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

p{
  line-height: 1.4;
  color: #7f969e;
}

section.Whitebackgroundcontainer{
  background-color: White;
  padding: 50px 0;
}

.Greybackgroundcontainer{
  background-color: #EDEff3;
}

.Greybackgroundcontainerlast{
  background-color: #EDEff3;
}

.footerdarkgrey{
  background-color: #504f4f;
  color: #c7c5c5;
}

section.Whitebackgroundcontainer h2{
  color: #0a465B;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 32px;
}

section.Whitebackgroundcontainer p{
      color: #7f969e;
      max-width: 900px;
      text-align: center;
      font-size: 18px;
      padding: 10px 0;
      line-height: 1.4;
      margin: auto;

}
section.Whitebackgroundcontainer p span{
  color: #FFA500;
}

section.Greybackgroundcontainer h2{
  color: #0a465B;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 32px;
}

section.Greybackgroundcontainer p{
      color: #7f969e;
      max-width: 900px;
      text-align: center;
      font-size: 18px;
      padding: 10px 0;
      line-height: 1.4;
      margin: auto;
    }

section.Greybackgroundcontainer div.Greybackgroundflexcontainer p{
      color: #7f969e;
      background-color: white;
      max-width: 263px;
      text-align: center;
      font-size: 16px;
      padding: 10px 0;
      line-height: 1.4;
      margin: auto;
}
section.Greybackgroundcontainer div.Greybackgroundflexcontainer h3{
    background-color: #107698;
    text-align: center;
    margin-top: 0px;
    font-size: 20px;
    padding: 25px 20px 25px;
    font-variant: small-caps;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    color: #fff;
    font-weight: 300;
}
section.whitebackgroundcontainernoboxes h2{
  color: #0a465B;
  font-size: 34px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 32px;
}

section.whitebackgroundcontainernoboxes p{
      color: #7f969e;
      background-color: white;
      max-width: 900px;
      text-align: center;
      font-size: 18px;
      padding: 10px 0;
      line-height: 1.4;
      margin: auto;
}
section.whitebackgroundcontainernoboxes div.flexcontainer article.parttime h4{
  font-size: 18px;
  color: #0a465b;
  border-bottom: 2px #FDB530 solid;
  text-align: center;
  width: 80%;
  margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
}
section.Greybackgroundcontainer div.Greybackgroundflexcontainer article.strategyconsulting p span{
  color: #FFA500;
}



.Greybackgroundcontainer .Greybackgroundflexcontainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 32px;
  width: 1100px;
  margin-top:48px;
}
.flexcontainer article.parttime{
  max-width: 350px;
}
.Whitebackgroundcontainer,.Greybackgroundcontainer, .whitebackgroundcontainernoboxes,.Greybackgroundcontainer, .Greybackgroundcontainerlast, .footerdarkgrey{
  padding: 54px 0;
}


.flexcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 24px;
  width: 1100px;
  margin: 48px auto 0;
}

 section.Greybackgroundcontainer article.strategyconsulting h3{
   font-size: 16px;
   font-weight: 300;
   padding: 0 16px;
   min-height: 80px;
   display: flex;
   text-align: center;
   justify-content: center;
   align-items: center;
   margin: auto;
}

div.Greybackgroundflexcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 24px;
  width: 1100px;
  margin: 48px auto 0;
}

section.Greybackgroundcontainer div.Greybackgroundflexcontainer{
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 32px;
  margin-top: 48px;
  width: 1100px;
}

  section.Greybackgroundcontainer article.strategyconsulting p{
    border-top: 5px solid #d1d1d0;
    padding: 24px 20px;
    box-shadow: 0px -2px 5px 0px rgb(0 0 0 / 30%);
    display: inline-block;
    width: 260px;
    height: 220px;
}

section.Greybackgroundcontainer div.Greybackgroundflexcontainer article p{
  border-top: 5px solid #d1d1d0;
  padding: 24px 20px;
  box-shadow: 0px -2px 5px 0px rgb(0 0 0 / 30%);
  display: inline-block;
  width: 260px;
  height: 220px;
}
section.Greybackgroundcontainer div.Greybackgroundflexcontainer article h3{
  font-size: 16px;
}

section.Greybackgroundcontainer div.Greybackgroundflexcontainer article p span{
  color: Orange;
}

section.Greybackgroundcontainerlast h2{
  font-size: 34px;
      font-weight: 300;
      color: #0a465b;
      text-align: center;
      margin-bottom: 32px;
  }
div.imgtrustedby img{
  display: block;
    margin: 24px auto 0;
}



.footerdarkgrey {
  padding: 40px 0;
    background-color: #504f4f;
    text-align: center;
    color: #c7c5c5;
    font-size: 18px;
    line-height: 1.4;
    display: block;
}
