


/* These are my styles */
body{
  font-family: sans-serif;
  font-weight: 400;
  font-size: 16px;
}
p{
  line-height: 1.4;
  color: #7f969e;
}
.whitebackgroundcontainer{
  background-color: White;
}
.Greybackgroundcontainer{
  background-color: #EDEff3
}
.Greybackgroundcontainerlast{
  background-color: #EDEff3
}
.footerdarkgrey{
  background-color: #504f4f
}
